<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template 1</title>
  </head>
  <body>
    <h1><%= username %></h1>
    <div><%= email %></div>
    <div><%= about %></div>
    <img
      height="500"
      src="http://localhost:5000<%= profile_image %>"
      alt="pic"
    />

    <ul>
      <% Object.keys(education).forEach(function(prop) { %>
      <li><%-education[prop].graduation_year %></li>
      <li><%- education[prop].title %></li>
      <li><%- education[prop].score %></li>
      <li><%- education[prop].degree %></li>
      <% }); %>
    </ul>

    <div><%= linkedin_profile %></div>
    <div><%= github_profile %></div>
    <div><%= codechef_profile %></div>
    <div><%= codeforces_profile %></div>
  </body>
</html>
