<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title><%= username %></title>
  </head>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      color: white;
      box-sizing: border-box;
      background: rgb(255, 224, 246);
      background: linear-gradient(
        133deg,
        rgba(29, 29, 29, 1) 0%,
        rgba(147, 2, 12, 1) 51%
      );
    }
    * {
      font-family: "Lato", sans-serif;
    }
    a {
      color: rgb(209, 209, 209);
    }
    h1 {
      font-weight: bold;
    }
    @media only screen and (max-width: 900px) {
      .main {
        flex-direction: column;
        margin-bottom: 5vh;
      }
      .education,
      .project,
      .info {
        flex-direction: column;
      }
      h1 {
        font-size: 2.3rem;
      }
    }
    .main {
      min-height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .main h1 {
      color: rgb(216, 216, 216);
      font-size: 4rem;
      font-weight: bold;
    }
    .main h2 {
      color: rgba(255, 255, 255, 0.705);
      font-size: 1rem;
    }
    .main .intro {
      max-width: 60vw;
      padding: 0px 3vw;
    }
    .education,
    .project,
    .info {
      padding: 2vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .education ul,
    .project ul,
    .info ul {
      width: 70%;
    }
    .contact {
      padding: 5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
    .bnav {
      background: rgba(53, 53, 53, 0) !important;
    }
  </style>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark bnav">
      <div class="container-fluid">
        <a class="navbar-brand px-3"><%= username %></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#intro">INTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">EDUCATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#info">MY INFO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="intro">
        <h1>Hi there,</h1>
        <h1>I am <span><%= username %></span></h1>
        <h2><%= about %></h2>
      </div>
      <div class="profile-image">
        <img
          width="300"
          height="400"
          src="http://localhost:5000<%= profile_image %>"
          alt="<%= username %>"
        />
      </div>
    </div>

    <!-- Education -->
    <div class="education" id="education">
      <h1>Education</h1>
      <ul>
        <% Object.keys(education).forEach(function(prop) { %>
        <br />
        <li>
          <ul>
            <li><h3><%-education[prop].title %></h3></li>
            <li><%- education[prop].degree %></li>
            <li><%- education[prop].graduation_year %></li>
            <li><%- education[prop].score %></li>
          </ul>
        </li>
        <br />
        <% }); %>
      </ul>
    </div>

    <!-- Projects -->
    <div class="project" id="projects">
      <h1>Projects</h1>
      <ul>
        <% Object.keys(projects).forEach(function(prop) { %>
        <br />
        <li>
          <ul>
            <li><h3><%- projects[prop].title %></h3></li>
            <li><%- projects[prop].description %></li>
            <li><%-projects[prop].date %></li>
          </ul>
        </li>
        <br />
        <% }); %>
      </ul>
    </div>

    <!-- info -->
    <div class="info" id="info">
      <h1>More info</h1>
      <ul>
        <% Object.keys(info).forEach(function(prop) { %>
        <br />
        <li>
          <ul>
            <li><h3><%- info[prop].title %></h3></li>
            <li><%- info[prop].year %></li>
            <li><%- info[prop].infoType %></li>
            <li><%- info[prop].description %></li>
          </ul>
        </li>
        <br />
        <% }); %>
      </ul>
    </div>
    <div class="contact" id="contact">
      <h1>Contact Me</h1>
      <span>Email: <a href="mailto:<%= email %>"><%= email %></a></span>
      <span
        >Linkedin:
        <a href="<%= linkedin_profile %>"><%= linkedin_profile %></a></span
      >
      <span
        >Github: <a href="<%= github_profile %>"><%= github_profile %></a></span
      >
      <span
        >Codechef:
        <a href="<%= codechef_profile %>"><%= codechef_profile %></a></span
      >
      <span
        >Codeforces:
        <a href="<%= codeforces_profile %>"><%= codeforces_profile %></a></span
      >
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
