<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template 1</title>
  </head>
  <body>
    <div><%= username %></div>
    <div><%= email %></div>
    <div><%= about %></div>
    <img src="http://localhost:5000<%= profile_image %>" alt="pic" />

    <div>
      <% Object.keys(education).forEach(function(prop) { %>
      <%-education[prop].graduation_year %> <%- education[prop].title %> <%-
      education[prop].score %> <%- education[prop].degree %> <% }); %>
    </div>

    <div><%= linkedin_profile %></div>
    <div><%= github_profile %></div>
    <div><%= codechef_profile %></div>
    <div><%= codeforces_profile %></div>
  </body>
</html>
